# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDES
.vscode/
.idea/

# MLflow
mlruns/
mlflow.db
model_artifacts/
*.pkl

# Submission Artifacts (We don't want duplicates in the repo)
SMSML_IMadeWisnuAdiSanjaya/
*.zip

# Old/Redundant Notebooks & Files
Template_Eksperimen_MSML.ipynb
recursive-demand-forecasting-end-to-end.ipynb
DagsHub.txt

# Loose Plots (Generated in root)
*.png
!Membangun_model/*.png
!Monitoring_and_Logging/*.png

# Nested Repo (If any)
Workflow-CI/
