
name: CI/CD Training & Deployment

on: [push]

jobs:
  train-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.9'
        
    - name: Install Libraries
      run: pip install -r Membangun_model/requirements.txt
      
    - name: Preprocess Data (Ulangi sebentar agar file ready)
      run: python preprocessing/automate_preprocessing.py
      
    - name: Train Model & Log to DagsHub
      env:
        DAGSHUB_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
        DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
        MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_USERNAME }}/Retail_Forecasting.mlflow
      run: python Membangun_model/modelling_tuning.py
      
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        
    - name: Build and Push Docker Image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        # Ganti 'username_dockerhub' dengan username asli Anda di bawah ini
        tags: ${{ secrets.DOCKER_USERNAME }}/retail-demand-forecast:latest
