
name: Data Preprocessing Pipeline

on: [push]

jobs:
  preprocess:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.9'
    - name: Install dependencies
      run: pip install pandas numpy "scikit-learn==1.5.2" category_encoders joblib
    - name: Run Preprocessing script
      run: python preprocessing/automate_preprocessing.py
